.main-container {
    text-align: center;
    padding: 20px;
  }
  
  .button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  .logout-button {
    margin-right: 10px;
  }
  
  .file-upload-input {
    margin-right: 10px;
  }
  
  .chat-session-button {
    margin-left: 10px;
  }
  
  @media screen and (max-width: 600px) {
    /* Styles for smaller screens */
    .main-container {
      font-size: 14px;
    }
  }
  